Repository jon-the-dev/data-dot-gov: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-frontend, prettier-frontend, typescript-check-frontend

eslint-frontend:
  name: ESLint (Frontend)
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  require_serial: true

prettier-frontend:
  name: Prettier (Frontend)
  entry: bash -c 'cd frontend && npm run format:check'
  language: system
  require_serial: true

typescript-check-frontend:
  name: TypeScript Check (Frontend)
  entry: bash -c 'cd frontend && npm run type-check'
  language: system
  require_serial: true

fix(frontend): resolve TDZ error in BillDetail component
  frontend/src/components/BillDetail.jsx
Due: eslint-frontend, prettier-frontend

fix(frontend): display correct bill number on detail page
  frontend/src/components/BillDetail.jsx
Due: eslint-frontend, prettier-frontend

fix(poller): update lobbying data fetcher to retrieve recent filings
  poller/core/api/senate.py
  poller/fetch_lobbying.py
Due: none

fix(api): resolve committee detail page timeout by prioritizing local data
  backend/services/committee_service.py
  docs/fixes/issue-7-committee-timeout.md
Due: none

fix(frontend): resolve DataService undefined error in CommitteeDetail
  frontend/src/components/CommitteeDetail.jsx
Due: eslint-frontend, prettier-frontend

fix(deployment): resolve Docker network and Redis configuration issues
  config/redis.conf
  docker-compose.yml
  docs/deployment-2024-12-27.md
Due: none

fix(frontend): resolve Members page showing 0 members
  docs/fixes/issue-8-members-page-no-data.md
  frontend/src/App.jsx
Due: eslint-frontend, prettier-frontend

fix(frontend): resolve localhost API calls in production (#20)
  CLAUDE.md
  docs/deployment/api-configuration.md
  frontend/.env.production
  frontend/src/services/pollerService.ts
  frontend/vite.config.js
Due: eslint-frontend, prettier-frontend, typescript-check-frontend

Path conditions:
  eslint-frontend: any of: ^frontend/.*\.(js|jsx|ts|tsx)$, but not: (?x)^(
  .*\.lock$|
  package-lock\.json$|
  Pipfile\.lock$|
  .*\.min\.(js|css)$|
  .*\.map$|
  node_modules/.*|
  \.venv/.*|
  venv/.*|
  build/.*|
  dist/.*|
  \.git/.*|
  __pycache__/.*|
  \.pytest_cache/.*|
  \.mypy_cache/.*|
  migrations/.*|
  \.vite/.*|
  playwright-report/.*|
  test-results/.*
)$
  prettier-frontend: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md)$, but not: (?x)^(
  .*\.lock$|
  package-lock\.json$|
  Pipfile\.lock$|
  .*\.min\.(js|css)$|
  .*\.map$|
  node_modules/.*|
  \.venv/.*|
  venv/.*|
  build/.*|
  dist/.*|
  \.git/.*|
  __pycache__/.*|
  \.pytest_cache/.*|
  \.mypy_cache/.*|
  migrations/.*|
  \.vite/.*|
  playwright-report/.*|
  test-results/.*
)$
  typescript-check-frontend: any of: ^frontend/.*\.(ts|tsx)$, but not: (?x)^(
  .*\.lock$|
  package-lock\.json$|
  Pipfile\.lock$|
  .*\.min\.(js|css)$|
  .*\.map$|
  node_modules/.*|
  \.venv/.*|
  venv/.*|
  build/.*|
  dist/.*|
  \.git/.*|
  __pycache__/.*|
  \.pytest_cache/.*|
  \.mypy_cache/.*|
  migrations/.*|
  \.vite/.*|
  playwright-report/.*|
  test-results/.*
)$
